@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="block-header">
    <div class="header-section">
        <h1>
            Menü Düzenle<br />
            <small></small>
        </h1>
    </div>
</div>

<form action="@Request.Url" method="post" enctype="multipart/form-data" class="form-horizontal">
    <input id="ID" name="ID" value="@ViewBag.model.ID" type="hidden" />
    <input id="MenuID" name="MenuID" value="@ViewBag.model.MenuID" type="hidden" />

    <div class="form-group">
        <label class="col-md-2 control-label" for="Title">Başlık</label>
        <div class="col-md-3">
            <input id="Title" name="Title" value="@ViewBag.model.Title" maxlength="50" type="text" class="form-control" />
            <span class="help-block">Boş Geçilemez</span>
        </div>
    </div>
    @*ahsap-dograma-{ID}#213*@
    <div class="form-group">
        <label class="col-md-2 control-label" for="type">Tip</label>
        <div class="col-md-3">
            <select id="Url" name="Url" class="form-control" size="1">
                <option value="">Harici URL</option>
                @foreach (var i in ViewBag.pages) {
                    var pageURL = "~/" + Util.urlYap(i.Title) + "-" + i.ID;
                    <option value="@pageURL" @(pageURL == ViewBag.model.Url ? "selected" : "")>@i.Title</option>
                    foreach (var j in i.Section) {
                        var sectionURL = pageURL + "#" + j.ID;
                        <option value="@sectionURL" @(sectionURL == ViewBag.model.Url ? "selected" : "")>-@j.Title</option>
                    }
                }
            </select>
        </div>
    </div>

    <div id="urlGroup" class="form-group">
        <label class="col-md-2 control-label" for="ExternalUrl">Harici URL</label>
        <div class="col-md-3">
            <input id="ExternalUrl" name="ExternalUrl" value="@ViewBag.ExternalUrl" maxlength="250" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Blank">Blank</label>
        <div class="col-md-3">
            <label class="switch switch-primary">
                <input id="Blank" name="Blank" value="true" type="checkbox" @(ViewBag.model.Blank ? "checked" : "")><span></span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <a href="~/admin" class="btn btn-default"><i class="fa fa-times"></i> Vazgeç</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Kaydet</button>
        </div>
    </div>

</form>

@section scripts{
     <script type="text/javascript">
         function toggleUrlGroup() {
             var value = $("#Url").val();
             if (value) {
                 $("#urlGroup").hide();
                 $("#ExternalUrl").val();
             }
             else {
                 $("#urlGroup").show();
             }
         }
         $("#Url").change(toggleUrlGroup);
         toggleUrlGroup();
    </script>
}