@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="block-header">
    <div class="row remove-margin">
        <div class="col-md-8">
            <div class="header-section">
                <h1>Sayfa Düzenle</h1>
            </div>
        </div>
        <div class="col-md-2">
            <a href="@Request.UrlReferrer" class="header-link">
                <h1><i class="fa fa-fw fa-chevron-left"></i><small>Geri</small></h1>
            </a>
        </div>
        <div class="col-md-2">
            <a href="javascript:$('form').submit()" class="header-link">
                <h1><i class="fa fa-fw fa-check"></i><small>Kaydet</small></h1>
            </a>
        </div>
    </div>
</div>

<form action="@Request.Url" method="post" enctype="multipart/form-data" class="form-horizontal">
    <input id="ID" name="ID" value="@ViewBag.model.ID" type="hidden" />

    <div class="form-group">
        <label class="col-md-2 control-label" for="Title">Başlık</label>
        <div class="col-md-9">
            <input id="Title" name="Title" value="@ViewBag.model.Title" maxlength="250" type="text" class="form-control" />
            
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Keywords">Kelimeler</label>
        <div class="col-md-9">
            <input id="Keywords" name="Keywords" value="@ViewBag.model.Keywords" class="input-tags" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Description">Açıklama</label>
        <div class="col-md-9">
            <input id="Description" name="Description" value="@ViewBag.model.Description" maxlength="250" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Active">Aktif</label>
        <div class="col-md-9">
            <label class="switch switch-primary">
                <input id="Active" name="Active" value="true" type="checkbox" @(ViewBag.model.Active ? "checked" : "")><span></span>
            </label>
        </div>
    </div>
</form>