<div class="gallery" data-scroll-reveal="enter left and move 20px after">
    <div class="owl-carousel one-item-carousel"
         data-owl-items="@ViewBag.model.Items"
         data-owl-autoplay="@(ViewBag.model.Autoplay ?1:0)"
         data-owl-nav="@(ViewBag.model.Nav ?1:0)"
         data-owl-dots="@(ViewBag.model.Dot ?1:0)"
         data-owl-center="1"
         data-owl-auto-height="1"
         data-owl-loop="1">
        @foreach (var i in ViewBag.model.BlockItem) {
            <div class="row">
                <div class="col-xs-6">
                    <img src="@Util.thumbnailLink(i.Image, 600, 278)" style="height:278px" alt="@i.Title">
                    @*<img src="~/content/uploads/@(i.Image)" style="height:278px;" alt="@i.Title">*@
                </div>
                <div class="col-xs-6">
                    @Html.Raw(i.Description)
                </div>
            </div>
        }
    </div>
</div>