@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="block-header">
    <div class="row remove-margin">
        <div class="col-md-8">
            <div class="header-section">
                <h1>Slayt Resim</h1>
            </div>
        </div>
        <div class="col-md-2">
            <a href="@Request.UrlReferrer" class="header-link">
                <h1><i class="fa fa-fw fa-chevron-left"></i><small>Geri</small></h1>
            </a>
        </div>
        <div class="col-md-2">
            <a href="javascript:$('form').submit()" class="header-link">
                <h1><i class="fa fa-fw fa-check"></i><small>Kaydet</small></h1>
            </a>
        </div>
    </div>
</div>

<form action="@Request.Url" method="post" enctype="multipart/form-data" class="form-horizontal">

    <input id="ID" name="ID" value="@ViewBag.model.ID" type="hidden" />
    <input id="BlockID" name="BlockID" type="hidden" value="@ViewBag.model.BlockID" />
    <div class="form-group">
        <label class="col-md-2 control-label" for="Title">Başlık</label>
        <div class="col-md-9">
            <input id="Title" name="Title" value="@ViewBag.model.Title" maxlength="150" type="text" class="form-control" />
            <span class="help-block">Boş Geçilemez</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Description">Açıklama</label>
        <div class="col-md-9">
            <textarea id="Description" name="Description" rows="4" class="form-control">@ViewBag.model.Description</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Image">Resim</label>
        <div class="col-md-5">
            @Util.thumbnail(ViewBag.model.Image, 50, 50)
            <input id="NewImage" name="NewImage" type="file" class="large" />
            <input name="Image" value="@ViewBag.model.Image" type="hidden" class="large" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <a href="~/admin/slide/@ViewBag.model.ID" class="btn btn-default"><i class="fa fa-times"></i> Vazgeç</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Kaydet</button>
        </div>
    </div>

</form>